<body class="g-sidenav-show  bg-gray-200">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
      <app-sidenav></app-sidenav>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <app-nav></app-nav>
      <div class="container-fluid py-4">
        <app-statistic></app-statistic>
        <div class="row mt-4">
            <div class="col-12">
              <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Müşteri Listesi</h6>
                  </div>
                </div>
                <div class="card-body px-0 pb-2">
                  <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Yeni Müşteri</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ad</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Adres</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Gsm</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tel</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Düzenle</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sil</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="align-middle text-center text-sm">
                            <a class="btn bg-gradient-info btn-sm mt-2">+</a>
                          </td>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                <img src="/../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">John Michael</h6>
                                <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-xs font-weight-bold mb-0">Manager</p>
                            <p class="text-xs text-secondary mb-0">Organization</p>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="badge badge-sm bg-gradient-success">Online</span>
                          </td>
                          <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <a class="btn bg-gradient-success btn-sm mt-2">Düzenle</a>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="btn bg-gradient-danger btn-sm mt-2">Sil</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <footer class="footer py-4  ">
          
        </footer>
      </div>
    </main>
    
    
  </body>
  